
    <%= image_tag profile_img (@forum.user.profile_img.url) %>
    <h3><%= @forum.title %></h3>
    <p><%= @forum.body %></p>

    <%= render 'dashboard/chats/chats'%>
    <%= render 'dashboard/chats/new' %>
